{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analiza sytuacji na giełdzie, akcje, surowce, strach i chciwość, strategie, własne przemyślenia. Kupuj tanio, sprzedawaj drogo.">
    <!-- Dodaj linki do CSS lub skrypty – przykładowo Tailwind przez CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar-sticky bg-no-repeat bg-cover bg-center" style="background-image: url({% static 'images/top-bg.webp' %}); background-attachment: scroll; background-size: cover; background-position: top center; width: 100%;">
      <div class="container flex justify-center mx-auto px-12 py-16 max-w-lg">
        <!-- Logo -->
        <a href="/" class="text-slate-600 hover:text-slate-500 transition-colors flex justify-center items-center flex-col" style="margin-top: -60px;">
          <div class="flex justify-center items-center">
            <span class="anta-regular text-5xl antialiased">Inves</span>
            <span class="anta-italic text-6xl subpixel-antialiased">TB</span>
          </div>
          <div class="text-center -mt-3">
            <span class="anta-regular antialiased">Investycje i Spekulacja</span>
          </div>
        </a>
      </div>
    </nav>

    <!-- Top Bar -->
    <div class="top-bar">
    </div>

    <!-- Główna zawartość -->
    <main class="container mx-auto mt-8 px-3 max-w-6xl mb-16 opacity">
      {% block content %}
      <!-- Tutaj wstaw treść konkretnej strony -->
      {% endblock %}
    </main>

  </body>
</html>
