{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>InvesTB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Analiza sytuacji na giełdzie, akcje, surowce, strach i chciwość, strategie, własne przemyślenia. Kupuj tanio, sprzedawaj drogo.">
    <!-- Dodaj linki do CSS lub skrypty – przykładowo Tailwind przez CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <!-- Navbar -->
      {% include 'shared/navbar.html' %}
    
      <!-- Top Bar -->
      {% include 'shared/top-bar.html' %}
      
      <!-- Główna zawartość -->
    <!-- Główna zawartość -->
    <main class="container mx-auto mt-8 px-3 max-w-3xl mb-16 opacity">
      {% block content %}
      <!-- Tutaj wstaw treść konkretnej strony -->
      {% endblock %}
    </main>

  </body>
</html>
