{% load static %}
<nav class="navbar-sticky bg-no-repeat bg-cover bg-center" style="background-image: url({% static 'images/top-bg.webp' %}); background-attachment: scroll; background-size: cover; background-position: top center; width: 100%;">
    <div class="container flex justify-center mx-auto px-12 py-16 max-w-lg">
        <!-- Logo -->
        <a href="/" class="text-slate-600 hover:text-slate-500 transition-colors flex justify-center items-center flex-col" style="margin-top: -60px;">
            <div class="flex justify-center items-center">
                <span class="anta-regular text-5xl antialiased">Inves</span>
                <span class="anta-italic text-6xl subpixel-antialiased">TB</span>
            </div>
            <div class="text-center -mt-3">
                <span class="anta-regular antialiased">Investycje i Spekulacja</span>
            </div>
        </a>
    </div>
</nav>